<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
</head>
<body>
<form  action="register" method="post">
    {% csrf_token %}
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Username: <input type="text" name="username"><br>
    password: <input type="password" name="password1"><br>
    password: <input type="password" name="password2"><br>
    email id: <input type="email" name="email"><br>
    <input type="submit">
</form>
<div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>
</body>
</html>